h1 {
    font-weight: bold;
    font-size: 45px;
    margin-bottom: 20px;
}

body {
    background-color: #07110c;
    color: #ffebcd;
}

.parent-div {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h2 {
    text-align: center;
    margin: 60px;
}

img {
    width: 500px;
    height: 489.2px;
    float: left;
}

img,
p {
    display: inline;
}