.bubble-container {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bubble {
    background: #888870;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: 1vh;
    border-radius: 3em;
    width: 80%;
}

.bubble img {
    width: auto;
    height: 50.5vh;
    float: left;
}

.bubble-info {
    margin-right: 3vw;
    font-size: 1.25em;
    text-align: justify;
}