h1 {
    font-weight: bold;
    font-size: 45px;
    margin-bottom: 20px;
}

body {
    background-color: #122019;
    color: #ffebcd;
}

.parent-div {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin: 0 auto;
    height: 60%;
    width: 60%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(29, 49, 36, 255);
    background: rgba(29, 49, 36, 255, 0.5);
    border-radius: 3em;
}

h2 {
    text-align: center;
    margin: 60px;
}

img {
    width: 600px;
    height: 589.2px;
    float: left;
}

img,
p {
    display: inline;
    margin: 3em;
}