/*background color change*/

.color {
    transition: 1s;
    background-color: #1D3124;
}

.colorChange {
    transition: 1s;
    background-color: #07110C;
}

h1 {
    font-weight: bold;
    font-size: 45px;
    margin-bottom: 20px;
}

h2 {
    font-size: 55px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
}

p {
    line-height: 20px;
    margin-bottom: 20px;
}

a {
    text-decoration: none;
}

a:hover {
    color: rgb(212, 161, 95);
    transition: 0.5s;
}

.wrapper {
    margin: 0 auto;
    padding: 0 10px;
    width: 100%;
}

header {
    height: 100px;
    margin-bottom: 10px;
}

header h1 {
    float: left;
    margin-top: 20px;
}


/*background image*/

.hero-image {
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../IMAGES/index/rila-bg.jpg");
}

.hero-image h2 {
    margin-bottom: 7vh;
    text-align: center;
    text-shadow: 0.075em 0.075em 0.15em #07110c;
    text-transform: uppercase;
    font-size: 4em;
}

.button-1 {
    width: 20%;
    display: block;
    margin: auto;
    padding: 0.25em;
    background: #1D3126;
    border-radius: 0.25em;
    color: #FFD5AF;
    font-size: 1.75em;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
}

.button-1:hover {
    transform: scale(1.15, 1.15);
    background-color: blanchedalmond;
    color: #1D3126;
    box-shadow: 0 0 0.75em #07110c;
}


/*featured section*/

.features {
    margin: 0;
    padding: 0.5em;
}

.features h2 {
    margin-top: 3vh;
    margin-bottom: 6vh;
    text-align: center;
    font-size: 3em;
}

.grid {
    margin-left: 0.5vw;
    margin-right: 0.5vw;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1em;
    overflow: hidden;
}

.card {
    border-radius: 1em;
    overflow: hidden;
    position: relative;
}

.card-text {
    position: absolute;
    top: 0;
    transition: 0.7s;
}

.card h3 {
    margin-top: 10%;
    margin-bottom: 1vh;
    text-align: center;
    font-size: 3em;
    font-weight: bold;
    line-height: 1.25;
    text-shadow: 0 0 0.25em #000000;
    transition: 0.75s;
}

.card p {
    margin-left: 1vw;
    width: 90%;
    text-align: center;
    font-size: 1em;
    line-height: 1.5;
    text-shadow: 0 0 0.25em #000000;
    opacity: 0;
    transition: 0.75s;
}

.card img {
    height: 100%;
    transition: transform 1.5s, filter 1s;
}

.card:hover img {
    transform: scale(1.25);
    filter: brightness(0.5) blur(0.2em) contrast(95%) saturate(50%);
}

.card:hover h3 {
    margin-top: 20%;
    font-size: 2.5em;
}

.card:hover p {
    opacity: 1;
}

.content1 {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 60px 0;
    text-align: center;
}


/*second link to map*/

.cta {
    padding: 60px 0;
    text-align: center;
}

.cta h3 {
    display: block;
    margin: 0 auto 20px auto;
    width: 400px;
    padding: 0 0 20px 0;
    font-size: 60px;
}


/*footer*/

footer {
    background-color: #9793935b;
    color: #2C4223;
}

footer {
    padding: 60px 0;
    height: 250px;
    background-color: #1B1A19;
    color: #395f2b;
}

.footer-info {
    width: 380px;
    float: left;
    margin-top: 10px;
}

.footer-info a {
    color: gray
}

.footer-links {
    width: 520px;
    float: right;
}

.footer-links ul {
    width: 150px;
    float: left;
    margin-left: 20px;
}

.footer-links ul li {
    margin: 10px 0;
}

.footer-links a {
    color: gray
}


/*video resize*/

@media screen and (max-width: 1400px) {
    .content1 iframe {
        width: 90%;
    }
    .features ul li {
        font-size: 14px;
    }
}