.wrapper {
    margin: 0 auto;
    padding: 0 10px;
    width: 100%;
}

.title {
    display: block;
    padding: 80px 5%;
    margin-top: 5vh;
    margin-left: auto;
    margin-right: auto;
    text-transform: uppercase;
    text-align: center;
    font-size: 30px;
}

.bg-image {
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 8%;
    margin-left: auto;
    margin-right: auto;
}

.bg-image path {
    fill: blanchedalmond;
    stroke: #1D3124;
    stroke-width: 3px;
    transition: fill 0.3s;
}

svg path:hover {
    fill: #c7b5b5bd;
    transition: 0.7s;
}

.MapHeader {
    text-align: center;
    color: blanchedalmond;
    font-weight: bold;
    font-size: 25px;
}

.popup .overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
    display: none;
}

.popup .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background: #265446;
    width: 800px;
    height: 500px;
    z-index: 2;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-sizing: border-box;
}

.popup .text {
    height: 75%;
}

.popup .content h2 {
    text-transform: uppercase;
}

.popup .content p {
    margin-top: 3.5vh;
}

.popup .button-1 {
    width: 20%;
    display: inline;
    margin-left: auto;
    margin-right: auto;
    padding: 0.25em;
    background: #1D3126;
    border-radius: 0.5em;
    color: #FFD5AF;
    font-size: 1.2em;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
}

.popup .button-1:hover {
    background-color: blanchedalmond;
    color: #1D3126;
    box-shadow: 0 0 0.75em #07110c;
}

.popup .close-btn {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 30px;
    height: 30px;
    background: #131313;
    color: #C73E1D;
    font-size: 20px;
    font-weight: bold;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
}

.popup.active .overlay {
    background-attachment: fixed;
    display: block;
}

.popup.active .content {
    transition: all 300ms ease-in-out;
    transform: translate(-50%, 20%) scale(1);
}