body,
html {
    height: 100%;
    margin: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}

.bg-image {
    background-image: url("../IMAGES/bulgaria_map.svg");
    height: 1000px;
    background-repeat: no-repeat;
    width: 2000px;
    margin-left: 17%;
    position: relative;
    top: 8%;
    background-size: 60% 75%;
}

* {
    font-family: 'Baloo Paaji 2', cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    background: #141414;
}